flask==3.0.3
requests==2.32.0
langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
openai
python-dotenv

# 数据处理
numpy
pandas
networkx
scikit-learn
scipy

dataclasses-json
json_repair
jsonschema

# 数据库
neo4j
py2neo
SQLAlchemy

langchain-neo4j
jieba

# 内存和会话管理
# langchain-memory

# 可视化增强
matplotlib
seaborn


torch
transformers
sentence-transformers
tiktoken